////////////////////////
// Beteckna font
////////////////////////
@font-face {
    font-family: 'betecknalowercaseitalic';
    src: url('../fonts/beteckna/betecknalowercaseitalic-webfont.eot');
    src: url('../fonts/beteckna/betecknalowercaseitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/beteckna/betecknalowercaseitalic-webfont.woff') format('woff'),
         url('../fonts/beteckna/betecknalowercaseitalic-webfont.ttf') format('truetype'),
         url('../fonts/beteckna/betecknalowercaseitalic-webfont.svg#betecknalowercaseitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

////////////////////////
// Styles
////////////////////////
.box {
  color: saturate(@text-color, 5%);
  border-color: lighten(@text-color, 30%);
  //.border-radius-padding(20px, 20px, 20px, 20px);
  .lh-border-radius(5px);
  background-color: @gray-light;
  padding:10px;
}
.row{
	padding-bottom: @grid-gutter-width;
	//padding-top: @grid-gutter-width;
}
.boxpadding{
  margin-bottom: @grid-gutter-width;
}
////////////////////////
// NAV
////////////////////////
@navbar-margin-bottom:0;

.collapse .navbar-text.login {
		margin-bottom: 0;
  		margin-top:10px;
 }
 .collapse.in .navbar-text.login {
		margin-bottom: 10px;
  		margin-top:10px;
 }
////////////////////////
// Dropdown submenu
////////////////////////
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}